<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des Tâches</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-searchbar
          placeholder="Rechercher une tâche"
          (ionInput)="filterTasks($event)"
        ></ion-searchbar>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openCategoryFilter()">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item-sliding *ngFor="let task of filteredTasks; let i = index">
      <ion-item [color]="task.validated ? 'success' : ''">
        <ion-label>
          <h2>{{ task.name }}</h2>
          <p>Description : {{ task.description }}</p>
          <p>Échéance : {{ task.dueDate | date:'dd/MM/yyyy' }}</p>
          <p>Priorité : {{ task.priority }}</p>
          <p *ngIf="task.location">Localisation : {{ task.location }}</p>
          <p *ngIf="task.categories && task.categories.length > 0">
            <ion-chip *ngFor="let category of task.categories">
              <ion-label>{{ category }}</ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="markAsValidated(task)">
          <ion-icon slot="icon-only" name="checkmark-done-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
